@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content min-content 1fr;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;;
}

.sidebar{
    display: flex;
    flex-direction: column;
    grid-row: 1 / 4;
    background-color: #38bdf8;
    font-size: x-large;
    padding: 20px;
}

#dashboard{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
}

ul{
    list-style: none;
}

li>div{
    display: flex;
    gap:10px;
    align-items: center;
}

#list-personal,#list-settings{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#search-icon,.profile-space,.project-space{
    margin-left: 20px;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: fit-content;
    gap: 20px;
}

#profile-info>div:first-child{
    font-size: medium;
}

#search-icon>svg{
    transform: scale(1.5);
}

#searchbar{
    border-radius: 8px;
    display: flex;
    margin-right: auto;
    flex: 1;
    padding: 10px;
}

#bell-icon{
    margin-left: 20%;
}

#profile-icon{
    margin-right: 5%;
}

#profile-icon > img{
    height: 60px;
    width: 60px;
}

.nav-bar{
    display: flex;
    height: fit-content;
}

.top-bar,.nav-bar{
    background-color: #f8fafc;
    padding: 10px;
}

.profile-space,.buttons{
    margin: 10px;
}

.profile-space{
    display: flex;
    flex: 1;
}

.profile-space>div>img{
    margin-left: 50px;
}

img{
    height: 100px;
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
}

#profile-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 10px;
}

.buttons{
    display: flex;
    align-items: center;
    margin-right: 20%;
    gap: 25px;
}

button{
    height: 35px;
    background-color: #38bdf8;
    width: 80px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    font-size: medium;
    color: white;
}

.content-space{
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 3%;
    padding: 20px 10px;
    overflow: scroll;
    background-color: #fee2e2;
}

.project-space{
    display: flex;
    flex-direction: column;
    grid-row: 1 / 3;
    border-radius: 8px;
    gap: 10px;
    padding: 20px;
    margin-top: 10px;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 50px;
}

.heading{
    font-weight: bold;
}

.project-cards>div{
    border-left: 10px solid red;
    border-radius: 12px;
    padding: 15px;
    background-color: #f8fafc;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.icons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.announcements-space{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 12px;
    margin-right: 20px;
    padding: 20px;
}

.announcements-space>div{
    margin-bottom: 10px;
}

.announcements-info{
    display: flex;
    flex: 1;
    gap: 10px;
    flex-direction: column;
    background-color: #f8fafc;
    padding: 20px;
    justify-content: space-evenly;
    border-radius: 8px;
}

.announcements-info>div{
    padding: 10px;
    border-bottom: 2px solid black;
}

.announcements-info>div>div:nth-child(2){
    overflow: hidden;
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.announcements-info>div:last-child{
    border-bottom: none;
}

.announcements-info>div>div:first-child{
    font-weight: bold;
}

.trending-space{
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    grid-column: 2 / 3;
    margin-right: 20px;
    padding: 20px;
    border-radius: 12px;
}

.trending-space>div{
    margin-bottom: 10px;
}

.announcements-space,.trending-space{
    min-width: 320px;
}

.profile{
    display: flex;
    gap:20px;
    align-items: center;
}

.profile-cards{
    display: flex;
    gap:20px;
    flex-direction: column;
    flex:1;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #f8fafc;
    border-radius: 12px;
}

.profile>div>img{
    height: 50px;
    width: 50px;
}

.project-space>div:first-child,.trending-space>div:first-child,.announcements-space>div:first-child,#profile-info{
    font-size: x-large;
    font-weight: bold;
}

.profile>div:nth-child(2)>div:first-child{
    font-weight: bold;
}